<div class="modal" [ngClass]="{'show': isOpen}">
  <div class="modal-content">
    <span class="close-button" (click)="closeModal()">&times;</span>
    <h2>Add New Teacher</h2>
    <form (ngSubmit)="submitForm()">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" [(ngModel)]="student.FirstName" name="firstName" required>

      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" [(ngModel)]="student.LastName" name="lastName" required>

      <label for="subject">Class:</label>
      <input type="text" id="subject" [(ngModel)]="student.Class" name="Class" required>

      <label for="post">Roll_NO:</label>
      <input type="text" id="post" [(ngModel)]="student.Roll_No" name="Roll_NO" required>

      <label for="phone">Phone Number:</label>
      <input type="text" id="phone" [(ngModel)]="student.Phone" name="phone" required>

      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="student.Email" name="email" required>

      <label for="email">UserName:</label>
      <input type="email" id="email" [(ngModel)]="student.Username" name="email" required>

      <label for="email">Password:</label>
      <input type="email" id="email" [(ngModel)]="student.Password" name="email" required>

      <button type="submit" [disabled]="!isFormValid()">Add Student</button>
    </form>
  </div>
</div>

